﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eiffel - MinPro240</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>
    <div class="HeaderMenu" style="height:60px; background-color:#000066;" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav" style="float:left">
                <li class="dropdown notifications-menu" style="float:left; margin-left:80px">
                    <a href="#" class="dropdown-toggle" style="color:#ffffff" data-toggle="dropdown">
                        <span class="logo-lg-action"><strong>Menu 1</strong></span>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">List 1</a></li>
                        <li><a class="dropdown-item" href="#">List 2</a></li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu" style="float:left">
                    <a href="#" class="dropdown-toggle" style="color:#ffffff" data-toggle="dropdown">
                        <span class="logo-lg-action"><strong>Menu 2</strong></span>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">List 1</a></li>
                        <li><a class="dropdown-item" href="#">List 2</a></li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu" style="float:left">
                    <a href="#" class="dropdown-toggle" style="color:#ffffff" data-toggle="dropdown">
                        <span class="logo-lg-action"><strong>Menu 3</strong></span>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">List 1</a></li>
                        <li><a class="dropdown-item" href="#">List 2</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav" style="float:right; margin-right: 50px">
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" style="color:#ffffff" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <i class="glyphicon glyphicon-bell"></i>
                        <span class="logo-lg"><b>Hi, Eiffel</b></span>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Ubah Kata Sandi</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="HeaderXsis" style="background-color:white;font-weight:bold; color:#000066;">
        XSIS 2.0
    </div>
    <div class="navSide" style="background-color: transparent">
        <aside class="main-sidebar" style="color:#000066">
            <section class="sidebar col-sm-3" style="color:#ffffff; padding:0px 15px 0px 15px">
                <br />
                <div class="list-group list-group-flush table-bordered" style="border:3px solid #000066">
                    <a href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action bg-light"><strong>Beranda</strong></a>
                    <a href="@Url.Action("Index", "Pelamar")" class="list-group-item list-group-item-action bg-light"><strong>Pelamar</strong></a>
                    <a href="#" class="list-group-item list-group-item-action bg-act"><strong>Proses Pelamar</strong></a>
                    <ul class="list-group-item list-group-item-action bg-light">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="logo-lg"><b>Penjadwalan</b></span>
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="list-group-item list-group-item-action" href="#">Rencana</a></li>
                                <li><a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Undangan")">Undangan</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-group-item list-group-item-action bg-light">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="logo-lg"><b>Penjadwalan Ulang</b></span>
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="list-group-item list-group-item-action" href="@Url.Action("Index", "RescheduleUndangan")">Undangan</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="list-group-item list-group-item-action bg-light"><strong>Tes</strong></a>
                    <a href="#" class="list-group-item list-group-item-action bg-light"><strong>Bootcamp</strong></a>
                    <a href="#" class="list-group-item list-group-item-action bg-light"><strong>Laporan</strong></a>
                </div>
            </section>
        </aside>
    </div>
    <div class="body">

    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p align="center" style="color:#000066; padding-left:50px;"><b> @DateTime.Now.Year - Xsis Mitra Utama</b></p>
        </footer>
    </div>

    @Html.Partial("ModalPopup")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!--datepicker plugin script-->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>
