﻿@model IEnumerable<Eiffel240.DataModel.x_biodata>
 
    <table class="table-striped" style="color: #000066">
        @foreach (var item in Model)
        {
            <tr style="border-bottom: 3px #000066">
                <th>
                    <button type="button" class="btn btn-default btn-sm" id="btn-pelamar" data-id="@Html.DisplayFor(model => item.id)" value="@Html.DisplayFor(model => item.id)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <span>@Html.DisplayFor(modelItem => item.nick_name, new { @style = "font: bold; color: #000066" })</span>
                </th>
            </tr>
        }
    </table>        

@*<script>
    var currID = 0;
    $(document).on("click", "#btn-pelamar", function () {
        currID = $(this).attr("data-id");
</script>*@