﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* --- TAMPILAN TAB PELAMAR --- *@
<div class="body body-content">
    <nav class="panel-heading navbar navbar-light bg-light" style="">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Cari Pelamar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="details_pelamar">Search</button>
        </form>
        <h2 class="panel-title" style="font: bold 20px; color: #000066;">
            LIST PELAMAR:
        </h2>
        <hr />
        <div class="body-pelamar">

        </div>
    </nav>
</div>



<div id="modalpop" class="modal" role="dialog">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#000066; color:white">
                <h1 class="modal-title" style="color:white; font-size:20px; margin-left: 10px">Detail Pelamar</h1>
                <button class="close" type="button" style="color:white; float:right; margin-right:10px; margin-top:-25px" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body" style="padding: 0px" id="bodypop">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@* BUAT UBAH BIODATA *@
<div id="modaledit" class="modal" role="dialog"> 
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#000066; color:white">
                <div class="row list-inline">
                    <h1 class="modal-title" style="color:white;font-size:20px; margin-left: 10px">Ubah Biodata</h1>
                    <button class="close" type="button" style="color:white; float:right; margin-right:10px; margin-top:-25px" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
            </div>
            <div class="modal-body" style="padding: 0px; max-width:1000px;" id="bodyedit">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts{
    <script type="text/javascript">
        var vjs_id;
        var vjs_loading = '<div class="progress progress-striped active" style="margin-bottom:0"> <div class="progress-bar" style="width:100%"> </div> </div>';

        $("#details_pelamar").click(function () {
            $.ajax({
                url: '@Url.Action("List", "Pelamar")',
                success: function (List) {
                    $(".body-pelamar").html(List);                    
                }
            });
        })

        $(document).on("click", "#btn-pelamar", function () {
            vjs_id = $(this).attr("data-id"); //ID BIODATA
            $.ajax({
                url: '@Url.Action("List", "Details")',
                success: function (List) {
                    $("#bodypop").html(List);
                    $("#modalpop").modal("show");
                    $("#contentpopup").hide("fast");
                    //BIODATA
                    $("#biodataBtn").click(function () {                      
                        GetListBiodata()                        
                    })
                    //SUMBER LOKER
                    $("#sumberlowongankerjaBtn").click(function () {
                        EditLoker()
                    })
                }
            });
        })


        function EditLoker() {
            $.ajax({
                url: '@Url.Action("Edit", "SumberLoker")',
                type: 'get',
                data: { id: vjs_id },
                success: function (result) {
                    $("#modal-content-body").html(result);
                    $("#contentpopup").show("slow");
                    $("#judul").html("Sumber Loker");
                }
            });
        }


        function GetListBiodata() {            
            //debugger;
            //$("#modal-content-body").html(vjs_loading);
            $.ajax({
                url: '@Url.Action("List", "Biodata")',
                type: 'get',
                data: { id: vjs_id },
                success: function (ListBio) {
                    $("#modal-content-body").html(ListBio);
                    $("#contentpopup").show("slow");
                    $("#judul").html("Biodata");
                }
            });
        }

        function Edit() {
            $.ajax({
                url: '@Url.Action("Edit", "Biodata")',
                type: 'get',
                data: { id: vjs_id },
                success: function (result) {
                    $("#bodyedit").html(result);
                    $("#modaledit").modal("show");
                    $("#modalpop").remove("class");
                }
            });
        }

        @*function DeleteById(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Category")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal1").modal("show");
                }
            });
        }*@
    </script>
}