﻿@model Eiffel240.ViewModel.BiodataViewModel



@using (Html.BeginForm("Edit", "Biodata", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="container" style="color: #000066; border-bottom-color: #000066; font-size: 14px">
            @*NAMA-----2-----*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Nama Lengkap *</label>
                        @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                        @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "FormAlert" })
                    </div>
                </div>
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Nama Panggilan *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.nick_name, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.nick_name, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
            </div>

            @*TEMPAT TANGGAL LAHIR-----4-----*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Tempat Lahir *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.pob, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.pob, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Tgl. Lahir (yyyy-mm-dd) *</label>
                        <div class="input-group date FormEdit">
                            @Html.TextBoxFor(model => model.dob, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker-dob input-lg FormText", @type = "date" })
                            <span class="input-group-addon" style="background-color:white; border-color:#000066">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Jenis Kelamin *</label>
                        <div class="FormEdit">
                            @Html.DropDownListFor(model => model.gender, new List<SelectListItem>() { new SelectListItem { Text = "Pria", Value = "true", Selected = Model.gender }, new SelectListItem { Text = "Wanita", Value = "false", Selected = Model.gender } }, new { @class = "form-control input-lg FormText" })
                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Agama *</label>
                        <div class="FormEdit">
                            @Html.DropDownListFor(model => model.religion_id, (IEnumerable<SelectListItem>)ViewBag.agamaList, "- Agama -", new { @class = "form-control input-lg FormText" })
                            @Html.ValidationMessageFor(model => model.religion_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*TINGGI*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Tinggi *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.high, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.high, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Berat *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Kewarganegaraan *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Suku Bangsa</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.ethnic, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.ethnic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*KEGEMARAN*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-6">
                        <label class="control-label FormLabel" style="text-align:left">Kegemaran / Hobi</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.hobby, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.hobby, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Jenis Identitas *</label>
                        <div class="FormEdit">
                            @Html.DropDownListFor(model => model.identity_type_id, (IEnumerable<SelectListItem>)ViewBag.identitasList, "- Identitas -", new { @class = "form-control input-lg FormText" })
                            @Html.ValidationMessageFor(model => model.identity_type_id, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Nomor Identitas</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.identity_no, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.identity_no, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*EMAIL*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Email *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">No. HP</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.phone_number1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.phone_number1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">No. HP Alternatif</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.phone_number2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.phone_number2, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">No. Tlp (Rumah / Orang Tua) *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.parent_phone_number, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.parent_phone_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*ANAK KE-*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Anak Ke- *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.child_sequence, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.child_sequence, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Dari Berapa Bersaudara *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.how_many_brothers, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.how_many_brothers, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Status Pernikahann *</label>
                        <div class="FormEdit" id="statusNikah">
                            @Html.DropDownListFor(model => model.marital_status_id, (IEnumerable<SelectListItem>)ViewBag.statusList, "- Status -", new { @class = "form-control input-lg FormText status" })
                            @Html.ValidationMessageFor(model => model.marital_status_id, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label FormLabel" style="text-align:left">Tahun Pernikahan</label>
                        <div class="FormEdit" id="tahunNikah">
                            @Html.DropDownListFor(model => model.marriage_year, (IEnumerable<SelectListItem>)ViewBag.tahunList, "- Tahun -", new { @class = "form-control input-lg FormText"})
                            @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*---------BATAS--------*@
            @*tulisan*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-6">
                        <h4 style="font: bold; color: #000066; border-bottom: 3px; border-bottom-color:#000066">Alamat Sesuai Identitas</h4>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-6">
                        <h4 style="font: bold; color: #000066; border-bottom: 3px; border-bottom-color:#000066">Alamat Sesuai Tempat Tinggal Saat Ini</h4>
                    </div>
                </div>
            </div>
            @*garis*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-6">
                        <hr-edit></hr-edit>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-6">
                        <hr-edit></hr-edit>
                    </div>
                </div>
            </div>

            @*ALAMAT*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-6">
                        <label class="control-label FormLabel" style="text-align:left">Alamat *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.address1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.address1, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-6">
                        <label class="control-label FormLabel" style="text-align:left">Alamat *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.address2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.address2, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                </div>
            </div>

            @*KODE POS*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-4">
                        <label class="control-label FormLabel" style="text-align:left">Kode Pos</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.postal_code1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.postal_code1, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label FormLabel" style="text-align:left">RT *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.rt1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.rt1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label FormLabel" style="text-align:left">RW *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.rw1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.rw1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-4">
                        <label class="control-label FormLabel" style="text-align:left">Kode Pos</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.postal_code2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.postal_code2, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label FormLabel" style="text-align:left">RT *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.rt2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.rt2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label FormLabel" style="text-align:left">RW *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.rw2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.rw2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*DESA*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-md-2">
                        <label class="control-label FormLabel" style="text-align:left">Desa / Kelurahan *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.kelurahan1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.kelurahan1, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label FormLabel" style="text-align:left">Kecamatan *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.kecamatan1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.kecamatan1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label FormLabel" style="text-align:left">Kota *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.region1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.region1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-2">
                        <label class="control-label FormLabel" style="text-align:left">Desa / Kelurahan *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.kelurahan2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.kelurahan2, "", new { @class = "text-danger FormText" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label FormLabel" style="text-align:left">Kecamatan *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.kecamatan2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.kecamatan2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label FormLabel" style="text-align:left">Kota *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.region2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.region2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" style="margin-right: 25px">
        <input type="button" value="Batal" title="Cancel" class="btn" style="background-color: #FF6600; color:white" data-dismiss="modal" />
        <input type="submit" value="Simpan" title="Create" class="btn" style="background-color: #000066; color:white" />
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    flatpickr('.datepicker-dob', {
        dateFormat: 'Y-m-d',
        maxDate: "today"
    });

    //$(document).ready(function () {
    //    $('#statusNikah').change(function () {
    //        if ($("#statusNikah").val().length < 7) {
    //            $('#tahunNikah').attr('disabled', 'disabled');
    //        } else {
    //            $('#tahunNikah').removeAttr('disabled');
    //        }
    //    });
    //})

    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert('Save successfully!');
                    $("#modaledit").modal("hide");
                    GetListBiodata()
                }
                else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })
</script>