﻿@model Eiffel240.DataModel.x_biodata


@using (Html.BeginForm("Edit", "Biodata", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="container" style="padding-right:55px; margin-left:30px">

            <div class="row" style="position:center">
                <div class="col-md-5" style="float:left; padding-top: 15px">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Nama Lengkap *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5" style="float:left; padding-top: 15px">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Nama Panggilan *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.nick_name, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.nick_name, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="height: 40px">
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Tempat Lahir *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.pob, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.pob, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Tgl. Lahir (yyyy-mm-dd) *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.dob, "{yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Jenis Kelamin *</label>
                            <div class="FormEdit col-md-12">
                                @Html.DropDownListFor(model => model.gender, new List<SelectListItem>() { new SelectListItem { Text = "Pria", Value = "true", Selected = Model.gender }, new SelectListItem { Text = "Wanita", Value = "false", Selected = Model.gender } }, new { @class = "form-control input-lg FormText" })
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Agama *</label>
                            <div class="FormEdit col-md-12">
                                @Html.DropDownListFor(model => model.religion_id, (IEnumerable<SelectListItem>)ViewBag.agamaList, "- Agama -", new { @class = "form-control input-lg FormText" })
                                @Html.ValidationMessageFor(model => model.religion_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Tinggi *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.high, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.high, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Berat *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kewarganegaraan *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Suku Bangsa</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.ethnic, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.ethnic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 40px; position:center">
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kegemaran / Hobi</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.hobby, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.hobby, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Jenis Identitas *</label>
                            <div class="FormEdit col-md-12">
                                @Html.DropDownListFor(model => model.identity_type_id, (IEnumerable<SelectListItem>)ViewBag.identitasList, "- Identitas -", new { @class = "form-control input-lg FormText" })
                                @Html.ValidationMessageFor(model => model.identity_type_id, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Nomor Identitas</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.identity_no, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.identity_no, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 40px">
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Email *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">No. HP</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.phone_number1, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.phone_number1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">No. HP Alternatif</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.phone_number2, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.phone_number2, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">No. Tlp (Rumah / Orang Tua) *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.parent_phone_number, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.parent_phone_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 40px">
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Anak Ke- *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.child_sequence, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.child_sequence, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Dari Berapa Bersaudara *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.how_many_brothers, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.how_many_brothers, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Status Pernikahann *</label>
                            <div class="FormEdit col-md-12">
                                @Html.DropDownListFor(model => model.marital_status_id, (IEnumerable<SelectListItem>)ViewBag.statusList, "- Status -", new { @class = "form-control input-lg FormText" })
                                @Html.ValidationMessageFor(model => model.marital_status_id, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Tahun Pernikahan</label>
                            <div class="FormEdit col-md-12">
                                @Html.DropDownListFor(model => model.marriage_year, (IEnumerable<SelectListItem>)ViewBag.tahunList, "- Tahun -", new { @class = "form-control input-lg FormText" })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 40px; position:center">
                <div class="col-md-5" style="float:left; margin-left: 25px">
                    <h4 style="font: bold; color: #000066; border-bottom: 3px; border-bottom-color:#000066">Alamat Sesuai Identitas</h4>
                </div>

                <div class="col-md-5" style="float:left">
                    <h4 style="font: bold; color: #000066; border-bottom: 3px; border-bottom-color:#000066">Alamat Sesuai Tempat Tinggal Saat Ini</h4>
                </div>
            </div>

            <div class="row" style="height: 40px; position:center">
                <div class="col-md-5" style="float:left; margin-left: 25px">
                    <hr-edit></hr-edit>
                </div>
                <div class="col-md-5" style="float:left">
                    <hr-edit></hr-edit>
                </div>
            </div>

            <div class="row" style="position:center">
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Alamat *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(ICollection<ModelBinders, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Alamat *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.nick_name, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.nick_name, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 40px">
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kode Pos</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marital_status_id, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">RT *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">RW *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kode Pos</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marital_status_id, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marital_status_id, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">RT *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">RW *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 40px">
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Desa / Kelurahan *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marital_status_id, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marital_status_id, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kecamatan *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kota *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="float:left">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Desa / Kelurahan *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marital_status_id, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marital_status_id, "", new { @class = "text-danger FormText" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kecamatan *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label FormLabel col-md-12" style="text-align:left">Kota *</label>
                            <div class="FormEdit col-md-12">
                                @Html.EditorFor(model => model.marriage_year, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                                @Html.ValidationMessageFor(model => model.marriage_year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" style="margin-right: 60px">
        <input type="button" value="Batal" title="Cancel" class="btn" style="background-color: #FF6600; color:white" data-dismiss="modal" />
        <input type="submit" value="Simpan" title="Create" class="btn" style="background-color: #000066; color:white" id="btn_reschedule_simpan" />
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert('Save successfully!');
                    $("#modaledit").modal("hide");
                    GetListBiodata()
                }
                else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })
</script>