﻿@model IEnumerable<Eiffel240.DataModel.x_biodata>

<table class="table table-striped" style="color:#000066">
    @foreach (var item in Model)
    {
        //long agama = 1;
        //string islam = "Islam";
        //if (item.religion_id == 1)
        //{
        //    agama = long.Parse(islam);
        //    item.religion_id = agama;
        //}

        <caption class="row">
            <h3 id="judul" style="font:bold; color:#000066; border-bottom:2px"></h3>
            <span><button class="glyphicon glyphicon-edit" id="editBtn" data-id="@item.id" onclick="Edit(@item.id)" type="button"></button></span>
        </caption>
        <tr style="border-top: 4px #000066">
            <th>Nama Lengkap</th>
            <th>: @Html.DisplayFor(modelItem => item.fullname)</th>
        </tr>
        <tr>
            <th>Nama Panggilan</th>
            <th>: @Html.DisplayFor(modelItem => item.nick_name)</th>
        </tr>
        <tr>
            <th>Kontak</th>
            <th>: @Html.DisplayFor(modelItem => item.email) / @Html.DisplayFor(modelItem => item.phone_number1)</th>
        </tr>
        <tr>
            <th>Tempat, Tgl. Lahir</th>
            <th>: @Html.DisplayFor(modelItem => item.pob), @Html.Raw(item.dob.ToString("dd MMMM yyyy"))</th>
        </tr>
        <tr>
            <th>Jenis Kelamin, Tinggi (cm), Berat (Kg)</th>
            <th>: @ViewBag.gender, @Html.DisplayFor(modelItem => item.high), @Html.DisplayFor(modelItem => item.weight)</th>
        </tr>
        <tr>
            <th>Agama</th>
            <th>: @ViewBag.agama</th>
        </tr>
        <tr>
            <th>Kewarganegaraan, Suku Bangsa</th>
            <th>: @Html.DisplayFor(modelItem => item.nationality), @Html.DisplayFor(modelItem => item.ethnic)</th>
        </tr>
        <tr>
            <th>Kegemaran / Hobi</th>
            <th>: @Html.DisplayFor(modelItem => item.hobby)</th>
        </tr>
        <tr>
            <th>Jenis & No. Identitas</th>
            <th>: @ViewBag.identitas - @Html.DisplayFor(modelItem => item.identity_no)</th>
        </tr>
        <tr>
            <th>Status & Tahun Pernikahan</th>
            <th>: @ViewBag.status</th>
        </tr>
    }
</table>
