﻿@model IEnumerable<Eiffel240.ViewModel.BiodataViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nick_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.religion_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.high)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ethnic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hobby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identity_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identity_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent_phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.child_sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.how_many_brothers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marital_status_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marriage_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biodata_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal_code1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rt1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rw1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kelurahan1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kecamatan1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.region1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal_code2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rt2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rw2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kelurahan2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kecamatan2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.region2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identitas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nick_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.religion_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.high)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ethnic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hobby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identity_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identity_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.child_sequence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.how_many_brothers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marital_status_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marriage_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_on)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biodata_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postal_code1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rt1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rw1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kelurahan1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kecamatan1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.region1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postal_code2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rt2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rw2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kelurahan2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kecamatan2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.region2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identitas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
