﻿<div class="panel">
    <div class="panel-body" style="padding:0px">
        <div class="col-md-3" style="padding-top:15px" id="menupopup">
            <div class="list-group table-bordered" style="border:2px solid #000066">
                <a class="list-group-item details_list_item profileBtn" id="profileBtn">Profile</a>
                <a class="list-group-item details_list_item biodataBtn" id="biodataBtn">Biodata</a>
                <a class="list-group-item details_list_item" id="pengalamankerjaBtn">Pengalaman Kerja</a>
                <a class="list-group-item details_list_item" id="pendidikanBtn">Pendidikan</a>
                <a class="list-group-item details_list_item" id="pelatihanBtn">Pelatihan</a>
                <a class="list-group-item details_list_item sumberlowongankerjaBtn" id="sumberlowongankerjaBtn">Sumber Lowongan Kerja</a>
                <a class="list-group-item details_list_item" id="organisasiBtn">Organisasi</a>
                <a class="list-group-item details_list_item" id="keluargaBtn">Keluarga</a>
                <a class="list-group-item details_list_item" id="keahlianBtn">Keahlian</a>
                <a class="list-group-item details_list_item" id="lainBtn">Lain-lain</a>
                <a class="list-group-item details_list_item" id="dokumenBtn">Dokumen</a>
                <a class="list-group-item details_list_item" id="catatanBtn">Catatan</a>
                <a class="list-group-item details_list_item" id="aktivasiBtn">Aktivasi Akun</a>
                <a class="list-group-item details_list_item" id="lihatBtn">Lihat Tes</a>
                <a class="list-group-item details_list_item" id="hasilBtn">Hasil Tes</a>
            </div>
        </div>
        <div class="col-sm-9" id="contentpopup">
            <div class="panel-heading" id="modal-content-head">
                <div>
                    @*<h3 id="judul" style="font:bold; color:#000066; border-bottom:2px"></h3>*@
                </div>
            </div>
            <div class="panel-body" id="modal-content-body">

            </div>
        </div>
    </div>
</div>
