﻿@*@{    
    Layout = "~/Views/Shared/ModalPopup.cshtml";
}



<html>
<head>

</head>
<body>
    @RenderBody()
</body>
</html>
Popup Detail Pelamar
    <div id="modal-form-list-menu" class="modal fade" role="dialog">
        <div class="modal-dialog" style="position:relative; width:1200px">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#000066">
                    <button class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title" style="color:white">
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-2" style="padding-left:20px; padding-top: 20px">
                        <div class="list-group table-bordered" style="border:2px solid #000066">
                            <a class="list-group-item details_list_item" onclick="OnListItemDetails('Profile');" id="item_Profile">Profile</a>
                            <a class="list-group-item details_list_item" onclick="OnListItemDetails('Biodata');" id="item_Biodata">Biodata</a>
                            <a class="list-group-item details_list_item" onclick="OnListItemDetails('Pendidikan');" id="item_Pendidikan">Pendidikan</a>
                            <a class="list-group-item details_list_item" onclick="OnListItemDetails('Pelatihan');" id="item_Pelatihan">Pelatihan</a>
                            <a class="list-group-item details_list_item" onclick="OnListItemDetails('Keahlian');" id="item_Keahlian">Keahlian</a>
                        </div>
                    </div>
                    <div class="col-lg-10" style="margin-left: -25px">
                        <div class="modal-bind-content-list-menu" id="details_pelamar_id" style="padding: 15px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
