﻿@model Eiffel240.ViewModel.SumberLokerViewModel

@using (Html.BeginForm("Edit", "SumberLoker", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <caption class="row">
        <h3 style="margin-top:0px">
            <span id="judul" style="font:bold; color:#000066; border-bottom:2px; margin-left:15px"></span>
        </h3>
        <div class="col-xs-12">
            <hr-edit style="border-color#000066"></hr-edit>
        </div>
    </caption>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="container" style="color: #000066; border-bottom-color: #000066; font-size: 14px">
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Sumber</label>
                        @Html.DropDownListFor(model => model.vacancy_source,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Value = "Event", Text="Event"},
                                        new SelectListItem { Value = "Career Center", Text="Career Center"},
                                        new SelectListItem { Value = "Referensi", Text="Referensi"},
                                        new SelectListItem { Value = "Lainnya", Text="Lainnya"},
                                    },
                                        "- Pilih -", htmlAttributes: new { @class = "form-control FormText", id = "sumber" })
                        @Html.ValidationMessageFor(model => model.vacancy_source, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Tipe Pelamar</label>
                        @Html.DropDownListFor(model => model.candidate_type,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Value = "Fresh Grad", Text="Fresh Grad"},
                                        new SelectListItem { Value = "Pengalaman", Text="Pengalaman"},
                                    },
                                        "- Pilih -", htmlAttributes: new { @class = "form-control FormText", id = "sumber" })
                        @Html.ValidationMessageFor(model => model.candidate_type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-12">
                        <label class="control-label FormLabel" style="text-align:left">Nama Event *</label>
                        @Html.EditorFor(model => model.event_name, new { htmlAttributes = new { @class = "form-control FormText lebar600", id = "namaEvent", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.event_name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-12">
                        <label class="control-label FormLabel" style="text-align:left">Nama Karir Center *</label>
                        @Html.EditorFor(model => model.career_center_name, new { htmlAttributes = new { @class = "form-control FormText", id = "namaCareerCenter", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.career_center_name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-12">
                        <label class="control-label FormLabel" style="text-align:left">Referrer Name *</label>
                        @Html.EditorFor(model => model.referrer_name, new { htmlAttributes = new { @class = "form-control FormText", id = "namaReferer", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.referrer_name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-12">
                        <label class="control-label FormLabel" style="text-align:left">Referrer Mobile Number *</label>
                        @Html.EditorFor(model => model.referrer_phone, new { htmlAttributes = new { @class = "form-control FormText", id = "hpReferer", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.referrer_phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-12">
                        <label class="control-label FormLabel" style="text-align:left">Referrer Email *</label>
                        @Html.EditorFor(model => model.referrer_email, new { htmlAttributes = new { @class = "form-control FormText", id = "emailReferer", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.referrer_email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-12">
                        <label class="control-label FormLabel" style="text-align:left">Sumber Lain *</label>
                        @Html.EditorFor(model => model.other_source, new { htmlAttributes = new { @class = "form-control FormText", id = "sumberLain", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.other_source, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="width:600px">
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Penghasilan Terakhir (IDR)</label>
                        @Html.EditorFor(model => model.last_income, new { htmlAttributes = new { @class = "form-control FormText", type = "number", min = "0" } })
                        @Html.ValidationMessageFor(model => model.last_income, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Tgl. Lamaran Kerja (yyyy-mm-dd)</label>
                        <div class="input-group date FormEdit">
                            @Html.TextBoxFor(model => model.apply_date, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker-ad FormText", @type = "date" })
                            <span class="input-group-addon" style="background-color:white; border-color:#000066">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="margin-right: 25px">
        <input type="reset" value="Batal" title="Cancel" class="btn" style="background-color: #FF6600; color:white" id="end-btn" />
        <input type="submit" value="Simpan" title="Create" class="btn" style="background-color: #000066; color:white" id="end-btn" />
    </div>
}
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    flatpickr('.datepicker-ad', {
        dateFormat: 'Y-m-d',
        maxDate: "today"
    });

    $(document).ready(function () {
        //UBAH FORM DISABLED


        $("#sumber").val(function () {
            if ($(this).val() == "Event") {
                $("#namaEvent").prop("disabled", false);
                $("#namaCareerCenter").prop("disabled", true);
                $("#namaReferer").prop("disabled", true);
                $("#hpReferer").prop("disabled", true);
                $("#emailReferer").prop("disabled", true);
                $("#sumberLain").prop("disabled", true);
            }

            if ($(this).val() == "Career Center") {
                $("#namaCareerCenter").prop("disabled", false);
                $("#namaEvent").prop("disabled", true);
                $("#namaReferer").prop("disabled", true);
                $("#hpReferer").prop("disabled", true);
                $("#emailReferer").prop("disabled", true);
                $("#sumberLain").prop("disabled", true);
            }

            if ($(this).val() == "Referensi") {
                $("#namaReferer").prop("disabled", false);
                $("#hpReferer").prop("disabled", false);
                $("#emailReferer").prop("disabled", false);
                $("#namaCareerCenter").prop("disabled", true);
                $("#namaEvent").prop("disabled", true);
                $("#sumberLain").prop("disabled", true);
            }

            if ($(this).val() == "Lainnya") {
                $("#sumberLain").prop("disabled", false);
                $("#namaEvent").prop("disabled", true);
                $("#namaCareerCenter").prop("disabled", true);
                $("#namaReferer").prop("disabled", true);
                $("#hpReferer").prop("disabled", true);
                $("#emailReferer").prop("disabled", true);
            }
            $("#sumber").change(function () {
                //$("#namaEvent").prop("disabled", true);
                //$("#namaCareerCenter").prop("disabled", true);
                //$("#namaReferer").prop("disabled", true);
                //$("#hpReferer").prop("disabled", true);
                //$("#emailReferer").prop("disabled", true);
                //$("#sumberLain").prop("disabled", true);
                if ($(this).val() == "Event") {
                    $("#namaEvent").prop("disabled", false);
                    $("#namaCareerCenter").prop("disabled", true);
                    $("#namaReferer").prop("disabled", true);
                    $("#hpReferer").prop("disabled", true);
                    $("#emailReferer").prop("disabled", true);
                    $("#sumberLain").prop("disabled", true);
                }

                if ($(this).val() == "Career Center") {
                    $("#namaCareerCenter").prop("disabled", false);
                    $("#namaEvent").prop("disabled", true);
                    $("#namaReferer").prop("disabled", true);
                    $("#hpReferer").prop("disabled", true);
                    $("#emailReferer").prop("disabled", true);
                    $("#sumberLain").prop("disabled", true);
                }

                if ($(this).val() == "Referensi") {
                    $("#namaReferer").prop("disabled", false);
                    $("#hpReferer").prop("disabled", false);
                    $("#emailReferer").prop("disabled", false);
                    $("#namaCareerCenter").prop("disabled", true);
                    $("#namaEvent").prop("disabled", true);
                    $("#sumberLain").prop("disabled", true);
                }

                if ($(this).val() == "Lainnya") {
                    $("#sumberLain").prop("disabled", false);
                    $("#namaEvent").prop("disabled", true);
                    $("#namaCareerCenter").prop("disabled", true);
                    $("#namaReferer").prop("disabled", true);
                    $("#hpReferer").prop("disabled", true);
                    $("#emailReferer").prop("disabled", true);
                }
            });
        });
    })

    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert('Save successfully!');
                    $("#modalpop").modal("show");
                    EditLoker()
                }
                else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })

    //END BUTTON
    $("#end-btn").click(function () {
        $("#modalpop").modal("show");
        EditLoker();
    });

    //VALUE
    //$("#sumber").val(function () {

    //    if ($(this).val() == "Event") {
    //        $("#namaEvent").prop("disabled", false).val(true);
    //        $("#namaCareerCenter").prop("disabled", true).val(false);
    //        $("#namaReferer").prop("disabled", true).val(false);
    //        $("#hpReferer").prop("disabled", true).val(false);
    //        $("#emailReferer").prop("disabled", true).val(false);
    //        $("#sumberLain").prop("disabled", true).val(false;
    //    }

    //    if ($(this).val() == "Career Center") {
    //        $("#namaCareerCenter").prop("disabled", false);
    //    }

    //    if ($(this).val() == "Referensi") {
    //        $("#namaReferer").prop("disabled", false);
    //        $("#hpReferer").prop("disabled", false);
    //        $("#emailReferer").prop("disabled", false);
    //    }

    //    if ($(this).val() == "Lainnya") {
    //        $("#sumberLain").prop("disabled", false);
    //    }

    //PENGISIAN
    $("#sumber").change(function () {
        if ($(this).val() == "Career Center") {
            if ($.trim($("#namaCareerCenter").val()) === "") {
                alert('field tidak boleh kosong');
                return false;
            }
        }

        if ($(this).val() == "Event") {
            if ($.trim($("#namaEvent").val()) === "") {
                alert('field tidak boleh kosong');
                return false;
            }
        }

        if ($(this).val() == "Referensi") {
            if ($.trim($("#namaReferer").val()) === "" || $.trim($("#hpReferer").val()) === "" || $.trim($("#emailReferer").val()) === "") {
                alert('field tidak boleh kosong');
                return false;
            }
        }

        if ($(this).val() == "Lainnya") {
            if ($.trim($("#sumberLain").val()) === "") {
                alert('field tidak boleh kosong');
                return false;
            }
        }
    });


</script>
