﻿body {
    background-color: lightgrey;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 0px;
}

.FormEdit{
    color: #000066;
    border-color: #000066;
    width: 100%;    
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.FormLabel {
    font-size: 10px;
    color:#000066;
    text-align:left;
}

.FormText {
    font-size: 14px;
    color: #000066;
    border-color: #000066;
}

.FormAlert {
    font-size: 11px;
    color: darkred;
}
.navbar-nav {
    color: white;
}

.footer {
    margin-bottom: 0px;
    height: 50px;
}

.HeaderMenu {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
    color: white;
}

.HeaderXsis {
    background-color: white;
    height: 60px;
    padding-bottom: 15px;
    padding-left: 90px;
    font-size: 40px;
    font: bold, Heading;
}

container {
    padding-bottom: 15px;
}

.navSide {
    padding-left: 80px;
    padding-right: 120px;
}

.row{
    height:auto;
}

hr-edit {
    border-top: 3px solid #000066;
    width: 100%;
    float: left;
    border-color: #000066;
}

.lebar600{
    max-width:600px;
}

/*.modal-body {
    margin-left: -25px
}*/

/*.modal-header{
    padding:0px;
    margin-left: 20px;
    margin-top:20px;
    height:40px
}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: white;
    margin-top: 20px;
    margin-left: 230px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 900px;
}
